@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --dark-gray: black;
  --gray: #f8fafc;
  --turquoise: #f87171;
  --yellow: #3b82f6;
  --light-gray: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  gap: 5px;
}

@media (min-width: 768px) {
  .grid {
    width: 490px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 10px;
  }
}

.turn {
  grid-column-start: 1;
  grid-column-end: 3;
  /* align-self: center; */

  display: flex;
  align-items: center;
  gap: 20px;

  color: var(--yellow);
}

.turn p {
  font-size: 14px;
  animation: 0.6s ease-in-out turn-text-animation;
}

.turn i {
  margin-left: 10px;
  font-size: 1.8rem;
  animation: 0.6s ease-in-out turn-icon-animation;
}

@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes turn-text-animation {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.square {
  background-color: var(--gray);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.square:hover {
  cursor: pointer;
  opacity: 80%;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.score p {
  font-size: 17px;
}

.score span {
  font-size: 15px;
  font-weight: bolder;
  margin-top: 4px;
}

.action {
  background-color: purple;
}

/* Action menu styless */
.menu {
  position: relative;
}

.menu-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  color: white;
  background-color: #0c4a6e;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.items {
  position: absolute;
  background-color: #203139;
  border-radius: 2px;
  padding: 10px;
  z-index: 10;
  top: 60px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.items button {
  background-color: inherit;
  padding: 8px;
  color: white;
}
.items button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}

.color-yellow {
  color: var(--yellow);
}

.color-turquoise {
  color: var(--turquoise);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.border {
  border: 1px solid rgba(211, 211, 211, 0.4) !important;
}

.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contents {
  height: 150px;
  width: 100%;
  max-width: 250px;
  background-color: #2e4756;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  color: white;
}

.modal-contents button {
  padding: 10px;
  background-color: var(--turquoise);
  color: #203139;
  border-radius: 4px;
}

.hidden {
  display: none;
}
